<a href="https://colab.research.google.com/github/DIVYA14797/python-project/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. How do you comment code in python ? What are the different types of comment ?

In Python, you can comment code using the '#' symbol for single-line comments and triple quotes ''' or """ for multi-line comments. Here's how you can use each type of comment:

1. Single-line comments: Single-line comments are used for brief comments on a single line of code.

In [ ]:
# This is a single-line comment
x = 10  # Assigning the value 10 to the variable x

2. Multi-line comments with triple quotes: Multi-line comments are used for longer comments spanning multiple lines.

In [ ]:
'''
This is a multi-line comment
It can span multiple lines
'''
x = 10

3. Docstrings: Docstrings are used to provide documentation for functions, classes, modules, or methods. They are defined using triple quotes and are typically placed immediately after the definition of the function, class, or module.

In [ ]:
def my_function():
    """
    This is a docstring for my_function.
    It describes what the function does.
    """
    pass

It's important to note that while multi-line comments using triple quotes are technically not true comments but rather string literals, they are often used for the purpose of commenting out multiple lines of code or adding multi-line comments because Python does not have a built-in syntax for multi-line comments.

In practice, single-line comments ('#') and docstrings are most commonly used for commenting code in Python, with single-line comments being used for brief comments inline with code and docstrings being used for documentation purposes.

2. What are variables in Python ?How do you declare and assign values to variables ?

In Python, variables are used to store data values. They act as placeholders that can be used to refer to different types of data, such as numbers, strings, lists, dictionaries, etc. Variables provide a way to store and manipulate data within a program.

Here's how you declare and assign values to variables in Python:

1. Variable Declaration: In Python, you don't need to explicitly declare variables before using them. You can simply assign a value to a variable, and Python will automatically create the variable.

In [ ]:
# Variable declaration and assignment
x = 10
name = "John"

2. Assigning Values: You can assign values to variables using the assignment operator '='. The variable name is placed on the left side of the '=' operator, and the value you want to assign is placed on the right side.

In [ ]:
# Assigning values to variables
x = 10
name = "John"

3. Multiple Assignments: You can assign multiple variables in a single line by separating them with commas.

In [ ]:
# Multiple assignments
a, b, c = 1, 2, 3

4. Dynamic Typing: Python is dynamically typed, meaning you don't need to specify the data type of a variable when declaring it. Python determines the type of the variable based on the value assigned to it.

In [ ]:
# Dynamic typing
x = 10  # x is an integer
name = "John"  # name is a string

Variable Naming Rules:
* Variable names can contain letters (a-z, A-Z), digits (0-9), and underscores (_).
* Variable names cannot start with a digit.
* Variable names are case-sensitive ('x' and 'X' are different variables).
* Avoid using Python keywords and built-in functions as variable names.
* Variable names should be descriptive and meaningful to enhance code readability.

In [ ]:
# Valid variable names
age = 30
first_name = "John"
total_students = 1000

# Invalid variable names
3students = 10  # Variable names cannot start with a digit
total-students = 1000  # Variable names cannot contain hyphens

3. How do you convert one data type to another in Python ?

In Python, you can convert one data type to another using type conversion functions or constructors. Here are some commonly used methods for type conversion:

1. Implicit Type Conversion (Coercion): Python automatically converts one data type to another when needed, such as during arithmetic operations involving different types.

In [ ]:
x = 10  # integer
y = 5.0  # float

# Implicit conversion from integer to float
result = x + y
print(result)  # Output: 15.0

15.0

2. Explicit Type Conversion (Type Casting): You can explicitly convert data types using predefined functions or constructors.
* int(): Converts a value to an integer.

In [ ]:
x = 10.5  # float
y = int(x)
print(y)

10

* float(): Converts a value to a floating-point number.

In [ ]:
x = 10  # integer
y = float(x)
print(y)

10.0

* str(): Converts a value to a string.

In [ ]:
x = 10  # integer
y = str(x)
print(y)

10

* list(): Converts a sequence (e.g., tuple, string, or range) to a list.

In [ ]:
x = (1, 2, 3)  # tuple
y = list(x)
print(y)

[1, 2, 3]

* tuple(): Converts a sequence (e.g., list, string, or range) to a tuple.

In [ ]:
x = [1, 2, 3]  # list
y = tuple(x)
print(y)

(1, 2, 3)

* set(): Converts a sequence (e.g., list, tuple, or string) to a set.

In [ ]:
x = [1, 2, 2, 3]  # list
y = set(x)
print(y)

{1, 2, 3}

* dict(): Converts a sequence of key-value pairs (e.g., list of tuples) to a dictionary.

In [ ]:
x = [('a', 1), ('b', 2)]  # list of tuples
y = dict(x)
print(y)

{'a': 1, 'b': 2}

* bool(): Converts a value to a boolean.

In [ ]:
x = 10  # integer
y = bool(x)
print(y)

True

4. How do you write and execute a Python script from the command line ?


To write and execute a Python script from the command line, you'll follow these steps:

1. Write Your Python Script: Use a text editor to write your Python script. Save the script with a '.py' extension. For example, you can create a file named 'myscript.py' and write your Python code in it.

In [ ]:
# myscript.py

print("Hello, world!")

Hello, world!

2. Open Command Line Interface (CLI): Open your command-line interface. This could be Command Prompt on Windows, Terminal on macOS, or any terminal emulator on Linux.

3. Navigate to the Directory: Navigate to the directory where your Python script is located. You can use the 'cd' command to change directories.

In [ ]:
cd path/to/your/directory

4. Execute the Script: Once you're in the correct directory, you can execute your Python script by typing 'python' followed by the name of your script file

In [ ]:
python myscript.py

5. View the Output: After executing the script, you should see the output printed to the terminal.

In [ ]:
Hello, world!

5. Given a list my_list = [1,2,3,4,5]  , write the code to slice the list and obtain the sub-list [2,3] .

In [ ]:
my_list = [1, 2, 3, 4, 5]

# Slice the list to obtain the sub-list [2, 3]
sub_list = my_list[1:3]

print(sub_list)

[2, 3]

6. What is complex number in mathematics , and how is it represent in Python ?

In mathematics, a complex number is a number that comprises a real part and an imaginary part. It is typically expressed in the form 'a + bi', where 'a' is the real part, 'b' is the imaginary part, and 'i' is the imaginary unit, defined as the square root of -1. Complex numbers are used extensively in various fields of mathematics, engineering, physics, and other sciences.

In Python, complex numbers are represented using the built-in complex data type. The syntax for creating a complex number in Python is:

In [ ]:
x = a + bj

Here:

* 'a' represents the real part.
* 'b' represents the imaginary part.
* 'j' or 'J' represents the imaginary unit.

7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [ ]:
age = 25
age

25

8. Declare a variable named price and assign the value 9.99 to it . What data type does this variable belong to ?

In [ ]:
price=99.9
price

99.9

9. Create a variable named name and assign your full name to it as a string . How would you print the value of this variable ?

In [ ]:
name='Divya Rani'
print(name)

Divya Rani

10. Given the string  "Hello , World !" , extract the substring "World" .

In [ ]:
s = "Hello, World!"

# Extracting the substring "World" using string slicing
substring = s[7:12]

print(substring)

World

11. Create a variable and named "is_student" and assign it a boolean value indicating whether you are currently student or not .

In [ ]:
is_student = True
is_student

True