<a href="https://colab.research.google.com/github/DIVYA14797/python-project/blob/main/Assignment_1_jpynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create one variable containing following type of data :  

(a) string  

 (b) list  

 (c) float

 (d) tuple

In [ ]:
# (a) String
my_string = "Hello, World!"

# (b) List
my_list = [1, 2, 3, 4, 5]

# (c) Float
my_float = 3.14

# (d) Tuple
my_tuple = (1, 2, 3, 4, 5)

2. Given are some following variables containing data :  

(a) var1=''

 (b) var2='[DS,ML,Python ]'  

 (c) var3=['DS','ML','Python']  

 (d) var4=1.        


 What will be the data type of the above given variable .

(a) var1='':

* This variable contains an empty string.
* Data type: string ('str').

(b) var2='[DS,ML,Python ]':

* This variable contains a string with comma-separated values inside square brackets.
* Data type: string ('str').

(c)var3= ['DS','ML','Python']:

* This is a list containing strings.
* Data type: list ('list').

(d) var4=1.:

* This variable contains a floating-point number.
* Data type: float ('float')

3. Expalin the use of the following operators using an example :  

(a) /    
 (b) %  
 (c) //  
 (d) **

(a) '/' (Division Operator):

* This operator performs division between two numbers.
* Example:

In [ ]:
result = 10 / 3
print(result)

3.3333333333333335

(b) '%' (Modulo Operator):

* This operator returns the remainder of the division of the left operand by the right operand.
* Example:

In [ ]:
remainder = 10 % 3
print(remainder)

1

(c) '//' (Floor Division Operator):

* This operator performs floor division, returning the integer part of the quotient.
* Example:

In [ ]:
result = 10 // 3
print(result)

3

(d) '**' (Exponentiation Operator):

* This operator raises the left operand to the power of the right operand.
* Example:

In [ ]:
result = 2 ** 3
print(result)

8

4. Create a list of length 10 of your choice containing multiple types of data . Using for loop print the element and its data type .

In [ ]:
my_list = [1, 2.5, "Hello", True, [1, 2, 3], {'a': 1, 'b': 2}, (4, 5), None, False, 3.14]

for item in my_list:
    print("Element:", item)
    print("Data Type:", type(item))
    print()

Element: 1
Data Type: <class 'int'>

Element: 2.5
Data Type: <class 'float'>

Element: Hello
Data Type: <class 'str'>

Element: True
Data Type: <class 'bool'>

Element: [1, 2, 3]
Data Type: <class 'list'>

Element: {'a': 1, 'b': 2}
Data Type: <class 'dict'>

Element: (4, 5)
Data Type: <class 'tuple'>

Element: None
Data Type: <class 'NoneType'>

Element: False
Data Type: <class 'bool'>

Element: 3.14
Data Type: <class 'float'>

5. Using a while loop , verify if the number A is purely divisible by number B and if so then how many times it can be divisible .

In [ ]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

# Initializing count of divisions
count = 0

# Checking if A is divisible by B
while A % B == 0:
    # If divisible, increment count and update A
    count += 1
    A /= B

# Printing the result
if count > 0:
    print(f"{A} is divisible by {B} {count} times.")
else:
    print(f"{A} is not divisible by {B}.")

Enter the number A: 85
Enter the number B: 5
17.0 is divisible by 5 1 times.

6. Create a list containing 25 int type data . Using for loop and if-else condition print if the element is divisible by 3 or not .

In [ ]:
# Create a list of 25 integers
my_list = [i for i in range(1, 26)]

# Iterate through each element in the list
for num in my_list:
    # Check if the element is divisible by 3
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

7. What do you understand about mutable and immutable data types ? Give examples for both showing this property .

1. Immutable data types:

* Immutable objects cannot be modified once they are created. Any operation that attempts to modify an immutable object will result in the creation of a new object.
* Examples of immutable data types in Python include integers, floats, strings, tuples, and frozensets.
* Example:

In [ ]:
# Immutable data types
a = 5  # Integer
b = "hello"  # String
c = (1, 2, 3)  # Tuple
# Attempt to modify an immutable object
a += 1
b += " world"
c += (4,)

In [ ]:
print(a)
print(b)
print(c)

6
hello world
(1, 2, 3, 4)

2. Mutable data types:

* Mutable objects can be modified after they are created. Operations that modify mutable objects directly change the object's value without creating a new object.
* Examples of mutable data types in Python include lists, dictionaries, sets, and user-defined objects.
* Example:

In [ ]:
# Mutable data types
list_a = [1, 2, 3]  # List
dict_b = {'a': 1, 'b': 2}  # Dictionary
set_c = {1, 2, 3}  # Set

# Modify mutable objects directly
list_a.append(4)
dict_b['c'] = 3
set_c.add(4)

In [ ]:
print(list_a)
print(dict_b)
print(set_c)

[1, 2, 3, 4]
{'a': 1, 'b': 2, 'c': 3}
{1, 2, 3, 4}