<a href="https://colab.research.google.com/github/DIVYA14797/python-project/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a python program to sort the given list to tuples based on integer value using a lambda function .

     [('Sachin  Tendulkar' , 34357),('Ricky Ponting', 27483),('Jack Kallis',25534),('Virat Kohli',24936)]

In [ ]:
data = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x: x[1])

print("Sorted list of tuples based on integer value:")
for item in sorted_data:
    print(item)

Sorted list of tuples based on integer value:
('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

2. Write a python program to find the squares of all the numbers in the given list of integers using lambda and map functions.

   [1,2,3,4,5,6,7,8,9,10]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squares = list(map(lambda x: x**2, numbers))

print("Original list of numbers:", numbers)
print("Squares of the numbers:", squares)

Original list of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Squares of the numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

3. Write a python program to convert the given list of integers into a tuple of strings . Use map and lambda functions .       

Given string : [1,2,3,4,5,6,7,8,9,10]             

Expected output  : ('1','2','3','4','5','6','7','8','9','10')

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

string_tuple = tuple(map(lambda x: str(x), numbers))

print("Given list of integers:", numbers)
print("Converted tuple of strings:", string_tuple)

Given list of integers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Converted tuple of strings: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25 .

In [ ]:
from functools import reduce

# Define a function to compute the product of two numbers
def multiply(x, y):
    return x * y

# Generate a list containing numbers from 1 to 25
numbers = list(range(1, 26))

# Use reduce to compute the product of the list
product = reduce(multiply, numbers)

print("Product of numbers from 1 to 25:", product)

Product of numbers from 1 to 25: 15511210043330985984000000

5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function .

  [2,3,6,9,27,60,90,120,55,46]

In [ ]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

divisible_by_2_and_3 = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

print("Numbers divisible by 2 and 3:", divisible_by_2_and_3)

Numbers divisible by 2 and 3: [6, 60, 90, 120]

6. Write a python program to find palindromes in the given list of strings using lambda and filter function .  

 ['python' , 'php' , 'aba' , 'radar' , 'level']

In [ ]:
strings = ['python', 'php', 'aba', 'radar', 'level']

palindromes = list(filter(lambda x: x == x[::-1], strings))

print("Palindromes in the given list:", palindromes)

Palindromes in the given list: ['php', 'aba', 'radar', 'level']